body{
  text-align: center;
  background-color: blueviolet;
  color: orange;
}

#container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#container div{
  background-color: aqua;
  border-style: solid;
  border-width: 3px;
  border-color: black;
  width: 80%;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}